In [21]:
n = int(input())

sheet = [tuple(input().split()) for _ in range(n)]

In [23]:
sheet

[('김민수', '90'), ('서호준', '80'), ('윤성수', '70')]

In [25]:
sheet.sort(reverse = True)

for i in sheet:
    print(i[0], end = ' ')

윤성수 서호준 김민수